.container {
    margin-top: 50px;
  }
  
  .product-layout {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .product-card {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 100%; 
    max-width: 400px; 
  }
  
  .product-card:hover {
    transform: scale(1.02);
  }
  
  .product-image {
    width: 80%; 
    height: auto;
    margin-top: 20px;
  }
  
  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 20px;
  }
  
  h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .btn {
    margin: 5px;
    padding: 8px 16px;
    font-size: 14px;
  }
  
  .btn-outline-dark {
    border-color: #000;
    color: #000;
  }
  
  .btn-outline-dark:hover {
    background-color: #000;
    color: #fff;
  }
  
  small {
    display: block;
    font-size: 12px;
    color: #6c757d;
    margin-top: 10px;
  }
  
  
  @media (max-width: 768px) {
    .col-md-6 {
      /* flex: 0 0 100%; */
      max-width: 100%;
    }
  
    .product-card {
      margin: 10px;
    }
  
    .btn {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .product-image {
      width: 70%; 
    }
  }
  
  @media (min-width: 769px) and (max-width: 1200px) {
    .col-md-6 {
      flex: 0 0 48%; 
      max-width: 48%; 
    }
  }
  